@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lato:ital,wght@1,700&display=swap');

*{
    font-family: 'DynaPuff', cursive;
}
.jumbotron{
    text-align: center;
    background-color: rgb(187, 187, 187);
    font-family: 'Lato', sans-serif;
}

ul{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.ruff{
    font-size: 20px;
    color:rgb(43, 40, 40);

}

.meow{
    font-size: 20px;
    color:rgb(43, 40, 40);
}
.home{
    font-size: 20px;
    color:rgb(43, 40, 40);
}

.active{
    font-size: large;
    text-align: left;
    color: rgb(0, 0, 0);
}  

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 187, 187);
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 50%;
    height: 600px;
    background-color: rgb(16, 123, 176);
    border-radius: 8px;
    background: url(https://i.pinimg.com/736x/4b/ec/a6/4beca611641ba4bf26504c14c1fcc9ab.jpg);
    background-size: cover;
}
.right{
    width: 50%;
    min-height: 400px;
    background-color:  rgb(106, 106, 106);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -50px;

}
footer{
    text-align: center;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .left{
    width: 100%;
    }
    .right{
        width:80%;
        margin:0;
        margin-top: -100px;
    }

}
